.topbar .fill, .topbar-inner {
  background: #3e81b2;
  background-color: #3e81b2;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#66b0e2), to(#3e81b2));
  background-image: -moz-linear-gradient(top, #66b0e2, #3e81b2);
  background-image: -ms-linear-gradient(top, #66b0e2, #3e81b2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66b0e2), color-stop(100%, #3e81b2));
  background-image: -webkit-linear-gradient(top, #66b0e2, #3e81b2);
  background-image: -o-linear-gradient(top, #66b0e2, #3e81b2);
  background-image: linear-gradient(top, #66b0e2, #3e81b2);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66b0e2', endColorstr='#3e81b2', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar div > ul .menu-dropdown,  .nav .menu-dropdown,
.topbar div > ul .skin-dropdown, .nav .skin-dropdown {
  background-color: #3e81b2;
}
.topbar div > ul .menu-dropdown .divider, .nav .menu-dropdown .divider,
.topbar div > ul .skin-dropdown .divider,  .nav .skin-dropdown .divider {
  background-color: #3e81b2;
  border-color: #66b0e2;
}

.topbar div > ul a.menu:hover,   .nav a.menu:hover,
.topbar div > ul li.open .menu, .nav li.open .menu,
.topbar div > ul .dropdown-toggle:hover,   .nav .dropdown-toggle:hover,
.topbar div > ul .dropdown.open .dropdown-toggle,  .nav .dropdown.open .dropdown-toggle {
  background: #3e81b2;
}

.topbar div > ul .menu-dropdown li a, .nav .menu-dropdown li a,
.topbar div > ul .skin-dropdown li a, .nav .skin-dropdown li a {
  color: #c5f6ff;
}

.topbar a {color: #e5f2fb;}

.topbar input {border: 1px solid #3e81b2;}

.topbar div > ul .menu-dropdown li a:hover, .nav .menu-dropdown li a:hover,
.topbar div > ul .dropdown-menu li a:hover, .nav .dropdown-menu li a:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e81b2', endColorstr='#3e81b2', GradientType=0);
  background: #3e81b2;
  background-color: #3e81b2;
  background-repeat: repeat-x;
  color: #fff;
}

.topbar h1 {
	clear: none; padding: 0;
	color: #fff;
	display: block;
	float: left;
	margin: 8px 10px 0 0 ;
	font-size: 1px;
	line-height: 6px;}


.topbar h3 {clear: none;}

/*.topbar h3 a { margin: 0;}*/

.filterPanel h4 { color: #3e81b2; }

/*SWITCHES TOPBAR SEARCH TO THE RIGHT HOVER COLORS FOR IE*/
.topbar input {  background-color: #84b5d8\9;}

.topbar input:hover {  background-color: #a8cce5\9;}

.topbar input.focused:hover, .topbar input:focus:hover{  background-color: #fff !important; color: #333 !important;}

.topbar a:hover, .topbar ul .active a {
  background-color: #67acdc\9;
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67acdc', endColorstr='#4a89b8', GradientType=0);*/
}
